body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e; /* dark gray */
  color: #15f0d3; /* cyan */
}
.navbar {
  background-color: #00FFFFFF;
  padding: 10px 20px;

  position: -webkit-sticky; /* Safari < iOS 13 */
  position: sticky;

  top: 0;
  z-index: 1000;
  width: 100%;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  color: #1e1e1e;
  font-weight: bold;
  transition: color 0.2s ease;
}

.navbar a:hover {
  color: #15f0d3;
}
